#header {
     background-color: #E7E7E7;
     height: 100px;
     display: table;
}

#posts{
    margin-top: 1%;
    background-color: #BABEBF; 
    height: 850px;
}

#posterPost{
    margin-top: 1%;
}


#profil{
    height: 350px;
}

#nom-profil{
    display: block;
    margin: auto;
    margin-top: 10px;
    border-radius: 50%;
}

#nom-Profil{
    font-weight:bold;
}

#titre-forum{
    vertical-align:middle;
    display: table-cell;
    width: 55px;;
}

input,
textarea {
    padding: 10px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #2d2d2d;
    color: white;
    border-radius: 4px;
}

#formconnexion{
    margin-top: 10px;
}


#sexe-select{
    margin-bottom: 20px;
    padding: 10px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #2d2d2d;
    color: white;
    border-radius: 4px;
}

#category-select {

    padding: 10px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #2d2d2d;
    color: white;
    border-radius: 4px;
}

